.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #020d21;
    color: white;
    text-align: center;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    flex-grow: 1;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.qubit-logo {
    width: 110px;
    height: auto;
    margin-right: 15px;
}

.qubit-title {
    font-size: 60px;
    font-weight: bold;
}

.button-container {
    margin-top: 20px;
}

.auth-button {
    display: inline-block;
    padding: 12px 24px;
    margin: 10px;
    border: none;
    border-radius: 8px;
    font-family: Arial !important;
    font-size: 25px !important;
    font-style: bold !important;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease-in-out;
    text-align: center;
    min-width: 180px;
}

.login-button {
    background-color: #145ba7 !important;
    color: white !important;
}

.login-button:hover {
    background-color: #104680!important;
}

.signup-button {
    background-color: #ffffff !important;
    color: rgb(0, 0, 0) !important;
}

.signup-button:hover {
    background-color: #cecece !important;
}


.footer {
    display: inline;
    width: 100%;
    justify-content: flex-end;
    text-align: center;
    background-color: #00050c;
    border-radius: 2rem;
    padding-top: 1.5rem ;
    padding-bottom: 1.5rem;
}

.footer p {
    margin-bottom: 15px;
    font-size: 15px;
    font-style: bold;
}

.social-links a {
    margin: 0 10px;
}

.social-links img {
    width: 35px;
    height: 35px;
    transition: transform 0.3s ease-in-out;
}

.social-links img:hover {
    transform: scale(1.1);
}
