.settings-sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 400px;
    height: 100%;
    background: #0d0d28;
    color: white;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;


    transform: translateX(-100%); /* Start hidden */
    transition: transform 0.4s ease-in-out; /* Smooth transition */
}

.settings-sidebar.open {
    transform: translateX(0); /* Slide into view */
}

.settings-header {
    display: flex;
    width: 100%;
    padding: 1.5rem;
    border-bottom: 2px solid rgb(100, 100, 100);
    border-radius: 1rem;
    background-color: #010c19;
    justify-content: space-between;
    align-items: center;
}

.settings-header h2 {
    margin: 0;
    font-size: 30px;
    color: #ffffff;
}

.close-icon {
    width: 30px;
    height: auto;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.close-icon:hover {
    transform: scale(1.1); 
}

.settings-content {
    padding-left: 20px;
    padding-right: 20px;
}

.settings-content label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
}

.settings-subtitle{
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 20px;
    color: #ffffff;
}

.settings-content input {
    width: 100%;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.2);
    color: white;
    font-size: 1.4rem;
    outline: none;
    padding: 8px;
    margin-bottom: 20px;
    transition: background 0.3s ease;
  }
  
  .settings-content input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  
  .settings-content input:focus {
    background: rgba(255, 255, 255, 0.3);
  }

.save-button {
    display: flex;
    background: #0d43cd;
    border: none;
    color: white;
    padding: 1.5rem;
    font-size: 1.5rem;
    width: 36rem;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 11rem;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
}
  
.save-button:hover {
    background-color: #09339f;
    cursor: pointer;
}